body {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  font-family: Arial, sans-serif;
}

.container {
  width: 350px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  background: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0b5ed7;
}

#weatherResult {
  margin-top: 15px;
}

footer {
  margin-top: 15px;
  font-size: 12px;
}
